[Unit]
Description=Hostname setting service
After=fix-permissions.service
Before=network.target

[Service]
Environment=USERNAME=@ROBOT_USER@
ExecStart=/home/@ROBOT_USER@/setup_scripts/setup_hostname.sh
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
