[Unit]
Description=Tailscale VPN first-boot setup
After=fix-permissions.service network.target

[Service]
Type=oneshot
User=root
Environment=USERNAME=robot
ExecStart=/home/robot/setup_scripts/setup_tailscale.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
