[Unit]
Description=OpenCR setup service

[Service]
ExecStart=/root/setup_opencr.sh
ExecReload=/root/setup_opencr.sh
Restart=on-failure
Type=oneshot
User=root

[Install]
WantedBy=default.target
