[Unit]
Description=Turtlebot3 Bringup service

[Service]
Environment=USERNAME=robot
ExecStart=/home/robot/setup_scripts/bringup.sh
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
