[Unit]
Description=Camera setup service
After=network.target

[Service]
ExecStart=/home/robot/setup_scripts/setup_camera.sh
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
