[Unit]
Description=Camera setup service
After=network.target

[Service]
ExecStart=/root/setup_scripts/setup_camera.sh
ExecReload=/root/setup_scripts/setup_camera.sh
Restart=on-failure
Type=oneshot
User=root

[Install]
WantedBy=default.target
