[Unit]
Description=Network setting service
Before=network.target

[Service]
ExecStart=/root/setup_scripts/setup_network.sh
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
