[Unit]
Description=Hostname setting service
Before=network.target

[Service]
ExecStart=/home/robot/setup_scripts/setup_hostname.sh
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
