[Unit]
Description=OpenCR setup service

[Service]
ExecStart=/home/robot/setup_scripts/setup_opencr.sh
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
