[Unit]
Description=ROS setup service

[Service]
ExecStart=/root/setup_scripts/setup_ros.sh
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
